
/*-----------Estilos -----------*/
@mixin box-shadow($top, $left, $blur, $color, $inset:"") {

      -webkit-box-shadow:$top $left $blur $color #{$inset} !important;
      -moz-box-shadow:$top $left $blur $color #{$inset} !important;
      box-shadow:$top $left $blur $color #{$inset} !important;
    }


// Border radius shorthand
@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}

/* @include border-radius(5px 10px 15px 20px);*/


/* 
///   .selector {
///     @include x-opacity(0.3);
///   }
///*/
@mixin x-opacity ($value: 0) {
	$value-percentage: $value * 100;

	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value-percentage})";
	filter: alpha(opacity=#{$value-percentage});
}