/*-----------Estilos -----------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?z8j8h2');
  src:  url('../fonts/icomoon.eot?z8j8h2#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?z8j8h2') format('truetype'),
    url('../fonts/icomoon.woff?z8j8h2') format('woff'),
    url('../fonts/icomoon.svg?z8j8h2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-servicios:before {
  content: "\e900";
}
.icon-local:before {
  content: "\e901";
}

.container {
    max-width: 970px;
 }
.rotar {
	transform: rotate(180deg) scale(1);
}
.wrap {
	/*display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: table-cell;
   flex-direction: able-cell;
    align-items:stretch;*/
	/*overflow:hidden;
	min-height: 100%;
	height: 100%;*/
}
.boxmenucuerpo{
	display: table;
	width: 100%;
	height: 700px;
	background:#1d1d26;	
	/*height: auto;*/

	/*display: flex;
	 flex-direction:row;
	 align-items:stretch;*/
	 /*> div {
	 	display: table-column;
	 }*/
}
.boxmenu {
	/*display: table-column;
	display:table-cell;*/
	position: absolute;
	width:250px;
	/* align-self:flex-start;*/
	background:#1d1d26;	
	box-sizing: border-box;
	padding:15px 0px 0px 0px;
	/*overflow-y: scroll;*/

}

.cuerpo {
	/*margin-top:-52px;*/
	/*display:table-cell;
	width: 250px;
	/*width:85%;*/
	 /*align-self:flex-start;*/
	/*float:right;*/
	background:#f5f5f5;
	padding-bottom:25px;
	padding-top:25px;
	margin-left: 250px;
}

.iconmenu{
	display:block;
	vertical-align: middle;
	height:auto;
	cursor: pointer;
	margin: 0;
	float: right;
	padding:0px;
	margin-right:13px;
	box-sizing: border-box;
	width:25px;
	span {
		height:4px;
		background:#fff;
		margin-bottom:3px;
		display:block;
		width:27px;
	}
}

.header {
	width: 100%;
	z-index:3;
	box-sizing: border-box;
	padding: 0 15px;
	background:#2b303a;
	height: 52px;
	vertical-align: middle;
	display: table;
	color: #f9f9f9;
	position: relative;
	> div {
		display: table-cell;
		vertical-align:middle;
	}
	.logo {
		width: 40px;
	}
	.nombre{
		p {
			font-size: 14px;
		}
	}
	.session{
		font-size: 14px;
		p {
			float: right;
			.name {
				color:#898989;
			}
		}
	}
	.perfil {
		width: auto;
		text-align: right;
		position: relative;
		box-sizing: border-box;
		padding-right:0px;
		height: auto;
		cursor: pointer;
		ul {
			display: none;
			background:#2b303a;
			position: absolute;
			top:52px;
			right:-2px;
			li{
				width: 100%;
				float: left;
				height: 40px;
				border-bottom:1px solid #1D222C;
				&:hover{
					background:#3D424C;
					color:#2b303a;
				}
				a{
					text-align: right;
					line-height: 40px;
					display: block;
					width: 100%;
					box-sizing: border-box;
					padding: 0 20px;
					color: #f9f9f9;
					font-size: 14px;
				}
			}
		}
		.glyphicon-user {
			font-size: 14px;
			margin-right: 10px;
		}
		.flecha {
			font-size: 8px;
			transform: rotate(180deg) scale(1);
			margin-top:7px;
			margin-left: 10px;
		}
		p {
			font-size: 14px;
		}
		* {
			float: right;
		}
	}
}

.prevsubir {
	margin-top:30px;
	margin-bottom:40px;
	button {
		margin-left:20px;
	}
}
.menuprincipal {
	position: relative;
	width: 100%;	
	padding-bottom:10px;
	margin-top: 20px;
	overflow: hidden;
	
	ul {
		padding-left: 0px;
		li {
			height:41px;
			display: table;
			width: 100%;
			margin-right:0px;
			position: relative;
			&.submenu{
				display:inline-block;
				border-top:1px solid #2b303a;
				border-bottom:1px solid #2b303a;
				height:auto;
				> a {
					&:hover{
						background:#000000;
					}
				}
				&:hover{
				background:none;
					> a {

					}
				}

				> a {
					display: block;
					width:100%;
					height:41px;
					box-sizing:border-box;
					vertical-align:middle;
					line-height:41px;
					.glyphicon-triangle-top {
						position:absolute;
						right:20px;
						left:auto;
						font-size:8px;
						top:17px;	
					}
				}
				> ul {
					background: #292932;
					> li {
						
						display: table;
						> a {
							padding-left:80px;
							padding-right: 15px;
							i {
								left:46px;
							}
						}
					}
				}
			}
			&:hover{
				background:#000000;
				> i {
					color:#da0000;
					/*color:#CA5E5E;*/
				}
			}
			 a {
				display: block;
				line-height: 18px;
				font-size:14px;
				box-sizing: border-box;
				padding:0 50px;
				color:#fafafa;
				font-weight: 300;
				text-decoration: none;
				display: table-cell;
				vertical-align: middle;
				i {
					position: absolute;
					left:16px;
					top:13px;
					-webkit-font-smoothing: antialiased;
				}
				/*&.activo{
					font-weight:600;
				}*/
				&:hover{
					text-decoration: none;
					i:first-child {
						color:#da0000;
					}
				}
			}
		}
	}
}

.boxfoto img { width: 100%;  }
.boxfoto img[src=''],
.boxfoto img:not([src]) {
  min-width: 103%;
  height: 102%;
  margin: -1%;
}
.foto {
	text-align:center;
	label {
		margin: 20px auto;
	}
	.btn-file {
		@include border-radius(10% !important) ;
	}
	.btn-file input[type=file] {
		position: absolute;
		top: 0;
		right: 0;
		width: 100px;
		min-height: 100%;
		font-size: 100px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		
		cursor: inherit;
		display: block;
	}
	.boxfoto {
		border: 1px solid #dddddd;
		width:85px;
		height:auto;
		box-sizing: border-box;
		height:85px;
		overflow: hidden;
		@include border-radius(10%);
		margin-bottom:15px;
		display:inline-block;
				font-size: 14px;
			color: #bfbfbf;
			text-align: center;
			line-height:77px;
			background:#f5f5f5;
	
		img {
				border:none !important;
		}
		/*float: right;*/
		&.thumbnail{

			font-size: 14px;
			color: #bfbfbf;
			text-align: center;
			line-height:70px;
			background:#f5f5f5;
			img {
			
				border-style: none;
			}
		}
		/*img {
			border:none;
		}*/
	}
	.img-upload{
		width:100%;
		/*height: 75px;*/
		display: block;
	}	
}

.btn {
	i {
		margin-right: 10px;
	}
	&.volver{
		a {
			color: #000;
		}
	}
}

h1 {
	font-size: 32px;
	color: #000000;
	text-align: left;
	margin-bottom:15px;
}

h2 {
	font-size: 14px;
	color: #333333;
	text-align: left;
}
.oh {
	overflow:hidden;
}


.titulo.gris {
	margin-top:40px;
	margin-bottom: -31px;
	padding: 0px 15px;
	border: 1px solid #dddddd;
	border-radius: 3px 3px 0px 0px;
	height: 37px;
	p {
		line-height: 35px;
		font-weight: 600;
		font-size: 16px;
		color: #808080;
		text-align: left;
	}
}

.cajablanca {
	background: #fff;
	border: 1px solid #eeeeee;
	width: 100%;
	/*min-height:500px;*/
	margin-top: 30px;
	box-sizing: border-box;
	padding: 20px;
	overflow:hidden;
	&.acordion{

		.titulo {
			width: 100%;
			height:auto;
			padding-bottom:10px;
			border-bottom:1px solid #dddddd;
			position: relative;
			display: inline-block;
			cursor: pointer;
			p {
				font-size: 16px;
				color: #808080;
				text-align: left;
				font-weight: bold;
			}
			i{
				position: absolute;
				right: 0px;
				cursor: pointer;
				color:#cccccc;
			}
		}
	}
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width:39px;
  height:24px;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height:20px;
  width:20px;
  left:2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5cb85c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius:24px;
}

.slider.round:before {
  border-radius: 50%;
}

#cke_17{
	display: none !important;
}

.controles {
	border-top:1px solid #dddddd;
	padding-top:15px;
	margin-top:25px;
}

label {
	font-size: 14px;
	color: #428bca;
	text-align: right;
}

.rotate {
	transform: rotate(180deg) scale(1);
}

.breadcrumb {
	background: none;
	padding:0px 15px 0px 15px;
	li{
		color: #999999;
		font-size: 14px;
		a {
			color: #428bca;
			font-size: 14px;
			&:hover {
				color: #428bca;
			}
			&.active {

			}
		}
	}
}

form {
	&.activar {
		float: right;
		label{
			margin-left: 10px;
			&.switch{
				top:7px;
			}
			> span {
				margin-left: 0px;
				min-width:85px;
				display: block;
				text-align: left;
				color:#000000;
				font-weight:600;
			}
		}
	}
	.form-inline{
		.form-control{
			width: 100%;
		}
	} 
	.bootstrap-select{
		width: 100% !important;
	}
	label {
		font-weight: 600;
	}
	textarea {
		width: 100%;
	}
}


















.pagination {
	li {
		a {
			color: #333;
		}
		&.active {
			a {
				background: none;
				color: #da0000;
				border-color: #da0000;
				font-weight: bold;
				&:hover{
					background:none;
					color: #da0000;
					border-color: #da0000;
				}
			}
		}
	}
}


.footer {
	/**/position: absolute;
  	right: 0;
  	bottom:0px;
  	left: 0;
  	/*float: left;
  	width: 100%;*/
  	background:#2b303a;
  	height: 52px;
  	z-index: 1;
  	font-size: 14px;
	color: #898989;
	text-align: center; 
	line-height: 52px; 	
}



.modal {
	&.modalboleta {
		.modal-dialog {
			width:100%;
			text-align: center;
			.modal-content{
				width:auto;
			}
		}
	}
	.wrapt {
		border-bottom: solid 1px #e2e2e2;
		float:left;
		width:100%;
	}
	
	.top {
		padding:0 43px;
		margin-top:10px;
	}
	.modal-dialog {
		width:940px;
	}
	.close {
		opacity:1;
	}
	.modal-header {
		border-bottom:none;
		/*padding: 0px;*/
	}
	.modal-content{
		border-radius:0px;
		width:940px;
		/*padding: 15px;*/
		display:inline-block;
	}
	.modal-body{
		padding:15px;	
	}
}






/*SELECTS*/
.formbuscador {
	text-align:center;
	.bootstrap-select{
		width: 400px !important;
		@include border-radius(0px);
		@include box-shadow (0, 3px, 6px, -1px rgba(0, 0, 0, 0.5));
		.btn-default {
			border:none;
			@include border-radius(0px!important);
		}
		.dropdown-toggle {
			font-size: 16px;
			@include box-shadow (0, 3px, 6px, -1px rgba(0, 0, 0, 0.0));
		}
		.caret {
			border-right:5px solid transparent !important;
			border-left:5px solid transparent !important;
			border-bottom:5px solid transparent !important;
			border-top:5px solid !important;
		}
		.dropdown-menu {
			overflow-y: visible !important;
			li {
				height:40px !important;
				a {
					display: block;
					line-height:40px;
					font-size: 16px;
					color: #000000;
					text-align: left;
				}
			}
		}
		> .dropdown-toggle {
			height: 50px;
			width: 400px;
			background-color: #f5f5f5;
		}
	} 
}

.nav-tabs{
	border-bottom: none;
	margin-top:30px;
	li {
		margin:0px !important;
		width:25%;		
		&.active{
			margin-bottom:0px;	
			a{
				font-weight: normal;
				border:none;
				margin: 0px !important;		
				&:hover{
					border:none;
					/*background: none;*/
					margin: 0px !important;		
				}
			}
		}
		a {
			border:none !important;
			color:#4a4a4a;
			margin-left: 0px !important;
			margin:0px !important;
			padding:10px 10px;
			font-size:17px;
  			font-weight:300;
  			text-align:center;		
			&:hover{
				border:none !important;
				background:#dddddd;
				margin-bottom: 0px;		
			}
		}
	}
}

.tab-content {
	background: #fff;
	height:auto;
	min-height:395px;
	box-sizing:border-box;
	padding:30px 25px;
	display: inline-block;
	width: 100%;
}

