
/*-----------tipografias -----------*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');


@font-face {
	
	font-family: 'SourceSansPro-Regular';
	src: url('fonts/SourceSansPro-Regular.eot?') format('eot'), 
	     url('fonts/SourceSansPro-Regular.otf')  format('opentype'),
	     url('fonts/SourceSansPro-Regular.woff') format('woff'), 
	     url('fonts/SourceSansPro-Regular.ttf')  format('truetype'),
	     url('fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
		 font-weight: normal;
		 font-style: normal;
}